# ----------------------------------------------------------------------------------------------------------------------
# tsconfig-files | https://github.com/eth-p/node-tsconfig-files | Copyright (C) 2019 eth-p
# ----------------------------------------------------------------------------------------------------------------------
# IDE
.idea
*.swp

# OS
.DS_Store
._*
Thumbs.db

# Project
node_modules
/dist
/types
